<div class="container">
  <div class="header-container">
    <h1 class="header-title">Listado de estudiantes</h1>
    <button
      mat-raised-button
      color="primary"
      class="primary"
      (click)="openDialog(null)"
    >
      Nuevo
    </button>
  </div>
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Jhon Doe"
      #input
    />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="identification">
        <th mat-header-cell *matHeaderCellDef>Cédula</th>
        <td mat-cell *matCellDef="let element">{{ element.identification }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef>Edad</th>
        <td mat-cell *matCellDef="let element">
          {{ getAge(element.birthday) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          <span
            class="pill"
            [ngStyle]="{ color: element.status ? 'green' : 'red' }"
            >{{ element.status ? "Activo" : "Inactivo" }}</span
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <a mat-raised (click)="openDialog(element)">
            <mat-icon
              aria-hidden="false"
              fontIcon="edit"
              color="primary"
            ></mat-icon>
          </a>
          <span class="divider"></span>
          <a mat-raised (click)="delete(element)">
            <mat-icon
              aria-hidden="false"
              fontIcon="delete"
              color="warn"
            ></mat-icon
            >
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalRecords"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
      [pageIndex]="page - 1"
      (page)="loadPage($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>

<footer>Developed by Einer Bravo</footer>
